<header>
  <nav class="navbar border-bottom">
      <ul class="nav">
          <li class="nav-item p-4"><button routerLink="/home"><i class="bi bi-house-door"></i>Inicio</button></li>
          <li class="nav-item p-4"><button routerLink="/map"><i class="bi bi-map"></i>Mapa</button></li>
          <li class="nav-item p-4"><button routerLink="/calender"><i class="bi bi-calendar3"></i>Calendario</button></li>
          <li class="nav-item p-4"><button routerLink="/chart"><i class="bi bi-graph-up"></i>Graficos</button></li>
      </ul>
  </nav>
</header>
